* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body{
    margin: 0px
}

.card--img {
    width: 250px;
    border-radius: 20px;
}
.card--icon{
    width: 12px
}

.card {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 550px;
    margin: 0px;
}

.card--main{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start
}

.inline{
    display: flex;
    align-items: center;
    margin: 0px;
}

.card--dates{
    display: flex;
    margin: 0px 5px 0px 0px ;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
}

.card--text{
    font-size: 11px;
    line-height: 150%;
}

a{
    margin-left: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    /* identical to box height */

    /* text-decoration-line: underline; */

    color: #918E9B;
}

.card--location{
    margin-bottom: 10px
}

.card--country{
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
}

nav{
    

    color: #FFFFFF;
    height: 55px;
    background: #F55A5A;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav--title{
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    margin: 0px;
    text-align: center;
    
}

.nav--icon{
    height: 35px;
    margin-right: 10px;
}